<form method="POST" action="/articles">
  <p>Title: <input type="text" name="title"></p>
  <p>Content:<br><textarea name="content" rows="15" cols="40"></textarea></p>
  <p><input type="submit" value="Submit" id="submit"></p>
</form>