<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create an Article</title>
 </head>
 <body>
   <h1>Time to write</h1>

   <form action="/articles" method="post"
    <label>Article Title: </label>
    <input type="text" name="title"> <br>
    <label>Article Content: </label>
    <input type="text" name="content"> <br>
    <input type="submit">
  </form>

 </body>
</html>
